<div class="container margen">
    <div class="row justify-content-center">

        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
        <div class="card" (click)="openModal('500ms', '500ms')">
            <img src="../../../assets/akali.jpg" alt="akali">
            <span>akali</span>
        </div>
    </div>


</div>