.search-bar{
    width: 400px;
    max-width: 700px;
    background: rgba(255, 250, 250, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 5px;
}

.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 15px;
    color: #ffffff;
}

::placeholder{
    color: #ffffff;
}

.search-bar button img{
    width: 23px;
}

.search-bar button{
    border: 0;
    border-radius: 30%;
    width: 40px;
    height: 40px;
    background: #006680;
    cursor: pointer;
}
