* {
    box-sizing: border-box
}

h1 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 23px;
    margin-bottom: 5%;
    margin-top: 5%;
}

.mySlides {
    display: none;
    position: relative;
}

img {
    vertical-align: middle;
    border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 0.342);
}

/* Caption text */
.text {
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -330%);
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: 1.4vw;
    letter-spacing: 0.04em;
    color: #f2f2f2;
    padding: 8px 12px;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fadeCustom {
    animation-name: fadeCustom;
    animation-duration: 1.5s;
}

@keyframes fadeCustom {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

.buttomCustom button{
    position: absolute;
    text-transform: uppercase;
    bottom: 5%;
    right: 3%;
    font-family: sans-serif;
    font-size: 1vw;
    padding: 8px 12px;
    font-weight: 200;
    color: white;
    background-color: rgba(255, 255, 255, 0.404);
}