<section class="cover">
    <div class="coverComp">
        <div class="container justify-content-center">
            <div class="custom-img" style="width:100%;">
                <img src={{champion.championsSkins[0].fields.file.url}} alt="champ" style="width:100%; height:100%;">
                <div>
                    <span class="custom-nick">
                        {{champion.championNickName}}
                    </span>
                    <span class="custom-name">
                        {{champion.championName}}
                    </span>
                </div>
            </div>
        </div>

        <div class="container custom-data-champ">
            <div class="row">
                <div class="col-6 row custom-rol-level">
                    <div class="col-6 custom-rol">
                        <img src="assets/icon/rol/{{champion.championRol}}.svg" alt="ROL"
                            style="width: 65px; height: 65px;">
                        <div class="custom-text-white">ROL</div>
                        <div class="custom-text-golden">{{champion.championRol}}</div>
                    </div>
                    <div class="col-6 custom-level">
                        <div> <img src='assets/icon/difficulty/dif-{{champion.championDificult}}.svg' alt=""> </div>
                        <div class="custom-text-white">DIFICULTAD</div>
                        <div class="custom-text-golden">{{champion.championDificult}}</div>
                    </div>
                </div>
                <div class="col-6 custom-description-champ">
                    {{champion.championDescription.content[0].content[0].value}}
                </div>
            </div>
        </div>

        <app-hability [champion]="champion"></app-hability>

    </div>

</section>

<app-skin-champ [champion]="champion.championsSkins"> </app-skin-champ>