<div class="container-modal">

    <div class="wrapper">
        <div class="left">
            <img [src]='data.champ.fields.championImage.fields.file.url' alt="user">
            <h6>{{data.champ.fields.championNickName}}</h6>
            <h4>{{data.champ.fields.championName}}</h4>
        </div>
        <div class="right">
            <div class="info">
                <h3>HABILIDADES</h3>
                <div class="social_media">
                    <ul>
                        <li>
                            <img [src]="data.champ.fields.championSkillImage[0].fields.file.url" alt="">
                            <div class="content">
                                <h6 id="h7">
                                    {{data.champ.fields.championPassive.content[0].content[0].value}}
                                </h6>
                                <h5>
                                    {{data.champ.fields.championPassive.content[1].content[0].value}}
                                </h5>
                                <span>
                                    {{data.champ.fields.championPassive.content[2].content[0].value}}
                                </span>
                            </div>
                        </li>
                        <li>
                            <img [src]="data.champ.fields.championSkillImage[1].fields.file.url" alt="">
                            <div class="content">
                                <h6 id="h7">
                                    {{data.champ.fields.championAbilityQ.content[0].content[0].value}}
                                </h6>
                                <h5>
                                    {{data.champ.fields.championAbilityQ.content[1].content[0].value}}
                                </h5>
                                <span>
                                    {{data.champ.fields.championAbilityQ.content[2].content[0].value}}
                                </span>
                            </div>
                        </li>
                        <li>
                            <img [src]="data.champ.fields.championSkillImage[2].fields.file.url" alt="">
                            <div class="content">
                                <h6 id="h7">
                                    {{data.champ.fields.championAbilityW.content[0].content[0].value}}
                                </h6>
                                <h5>
                                    {{data.champ.fields.championAbilityW.content[1].content[0].value}}
                                </h5>
                                <span>
                                    {{data.champ.fields.championAbilityW.content[2].content[0].value}}
                                </span>
                            </div>
                        </li>
                        <li>
                            <img [src]="data.champ.fields.championSkillImage[3].fields.file.url" alt="">
                            <div class="content">
                                <h6 id="h7">
                                    {{data.champ.fields.championAbilityE.content[0].content[0].value}}
                                </h6>
                                <h5>
                                    {{data.champ.fields.championAbilityE.content[1].content[0].value}}
                                </h5>
                                <span>
                                    {{data.champ.fields.championAbilityE.content[2].content[0].value}}
                                </span>
                            </div>
                        </li>
                        <li>
                            <img [src]="data.champ.fields.championSkillImage[4].fields.file.url" alt="">
                            <div class="content">
                                <h6 id="h7">
                                    {{data.champ.fields.championAbilityR.content[0].content[0].value}}
                                </h6>
                                <h5>
                                    {{data.champ.fields.championAbilityR.content[1].content[0].value}}
                                </h5>
                                <span>
                                    {{data.champ.fields.championAbilityR.content[2].content[0].value}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="projects">
                <div class="projects_data">
                    <div>
                        <p>
                            {{data.champ.fields.championDescription.content[0].content[0].value}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>