<div class="container-modal">
    <aside>
        <div class="wrapper">
            <div class="left">
                <img src="assets/akali.jpg" alt="user">
                <h4>Akali</h4>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque odit accusamus dicta eveniet omnis nesciunt
                        tenetur ullam temporibus quas, ex veniam deleniti fuga nisi,
                        asperiores sed quo reprehenderit officiis obcaecati.
                        lo
                        Doloremque odit accusamus dicta eveniet omnis nesciunt
                        tenetur ullam temporibus quas, ex veniam deleniti fuga nisi,
                        asperiores sed quo reprehenderit officiis obcaecati.
                        lo
                    </p>
                </div>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Data</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Email</h4>
                            <p>alex@gmail.com</p>
                        </div>
                        <div class="data">
                            <h4>Phone</h4>
                            <p>0001-213-998761</p>
                        </div>
                    </div>
                </div>

                <div class="projects">
                    <h3>Projects</h3>
                    <div class="projects_data">
                        <div class="data">
                            <h4>Recent</h4>
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                        <div class="data">
                            <h4>Most Viewed</h4>
                            <p>dolor sit amet.</p>
                        </div>
                    </div>
                </div>

                <div class="social_media">
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
</div>